<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>SSL Certificate Signing Request Tool</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
	<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel='stylesheet' href='assets/css/fonts.css'>
    <link rel="stylesheet" href="assets/css/angular-material.min.css">
    <link rel="stylesheet" href="assets/css/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body>
  	<md-toolbar layout="row" class="md-whiteframe-z1">
		<h1 align="center"><span class="md-display-2">Requesting a SSL certificate made simple</span></h1>
	</md-toolbar>
  	<div layout="column" role="main" class="md-whiteframe-z2" ng-app="csrhelpApp" 
  	ng-controller="CsrhelpController" layout-margin>
		<div id="request-form" flex>	    		
			<md-toolbar class="md-theme-light">
				<h2 class="md-toolbar-tools">
					<span>Details</span>
				</h2>
			</md-toolbar>
			<form name="certificateForm" novalidate autocomplete="off">
				<md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
					<md-input-container class="hostname_input">
						<label>Hostname</label>
						<input name="hostname" required
							ng-model="certificate.hostname" 
						 	ng-pattern="(?=^.{4,253}$)(^((?!-)[a-zA-Z0-9-]{1,63}(?<!-)\.)+[a-zA-Z]{2,63}\.?$)" id="hostname"
						 	ng-change="onBlurOrChange();hideResult()"
						 	ng-blur="onBlurOrChange()">
						<div ng-messages="certificateForm.hostname.$error">
							<div ng-message="required">This is required.</div>
							<div ng-message="pattern">This should be a a hostname.</div>
						</div>
					</md-input-container>
					<md-input-container style='position:relative'>
						<md-progress-circular md-mode="indeterminate" 
							md-diameter="40" style='position:absolute;z-index:5;top:-5px'
							ng-if="showSpinner">
							</md-progress-circular>
					</md-input-container>
				</md-content>
				<md-content layout-padding>				    
					<div layout layout-sm="column">
						<!-- <md-input-container flex>
							<label>Organization</label>
							<input name="organization"
								ng-model="certificate.organization"
								ng-change="onBlurOrChange();hideResult()"
								ng-blur="onBlurOrChange()">
						</md-input-container> -->
						<md-autocomplete flex
							md-input-name='organization'
							md-input-minlength="2"
							md-no-cache="true"
							md-delay="600"
							md-search-text-change="onBlurOrChange();hideResult()"
							md-selected-item-change="onBlurOrChange();hideResult()"
							md-search-text='certificate.organization'
							md-items='item in searchOrganization(certificate.organization)'
							md-item-text='item.name'
							md-floating-label='Organization'>
							<md-item-template>
								<span md-highlight-text="searchOrgText">{{item.name}}</span>
							</md-item-template>
						</md-autocomplete>
						<md-input-container flex>
							<label>Organization Unit</label>
							<input name="organization_unit"
								ng-model="certificate.organization_unit"
								ng-change="onBlurOrChange();hideResult()"
								ng-blur="onBlurOrChange()">
						</md-input-container>				        
					</div>
					<div layout layout-sm="column">
						<md-input-container flex>
							<label>City / Locality</label>
							<input name="city"
								ng-model="certificate.city"
								ng-change="onBlurOrChange();hideResult()"
								ng-blur="onBlurOrChange()">
						</md-input-container>
						<md-input-container flex>
							<label>State / County / Region</label>
							<input name="state"
								ng-model="certificate.state"
								ng-change="onBlurOrChange();hideResult()"
								ng-blur="onBlurOrChange()">
						</md-input-container>				        
					</div>
					<div layout layout-sm="column">
						<md-input-container flex>
							<label>Country</label>
							<md-select name="country"
								ng-model="certificate.country"
								ng-change="onBlurOrChange();hideResult()"
								ng-blur="onBlurOrChange();"
								ng-change="hideResult();">
								<md-option ng-repeat="country in countries" value="{{country.code}}">
									{{country.name}}
								</md-option>
							</md-select>
						</md-input-container>
						<md-input-container flex>
							<label>Key Algorithm</label>
							<md-select name="algorithm"
								ng-model="certificate.algorithm" 
								ng-change="onChangeAlgorithmKey();onBlurOrChange();;hideResult()"
								ng-blur="onBlurOrChange()"
								required>
								<md-option ng-repeat="algorithm in algorithms" value="{{algorithm}}">
									{{algorithm}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
					<div layout layout-sm="column">
						<md-input-container flex>
							<label>Key Size</label>
							<md-select name="keysize"
								ng-model="certificate.keysize"
								ng-change="onBlurOrChange();hideResult()"
								ng-blur="onBlurOrChange()" 
								required>
								<md-option ng-repeat="keysize in keysizes" value="{{keysize.value}}">
									{{keysize.key}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>				    
				</md-content>
			</form>
		</div>
		<div id="result" flex ng-if="showResult">
			<md-toolbar class="md-theme-light">
				<h2 class="md-toolbar-tools">
					<span>Results</span>
				</h2>
			</md-toolbar>
			<md-content>
				<md-list>
					<md-list-item class="md-3-line" 
						ng-repeat="item in messages" layout='column'>						
						<md-progress-linear md-mode="indeterminate" ng-if="!(!!item.content)"></md-progress-linear>
						<div class="md-padding" flex>
							<h2>{{item.type}}</h2>
							<pre id="{{item.type}}" ng-click="selectToClipboard($event, item);">{{item.content}}</pre>
							<div class='right' ng-if="!!item.content">
							<md-button class="md-fab md-fab-top-right right"
								ng-click="copyToClipboard($event, item);">
							      <i class="copy-content-button"></i>
							      <md-tooltip>
							        {{item.status}}
							      </md-tooltip>
							</md-button>
							<md-button href='' class="md-fab md-fab-top-right right"
								id="copy-content-button-container" 
								ng-if="bWebcrypto && item.download" ng-click="download($event, item);">
							      <i class="download-button"></i>
							      <md-tooltip>
							      	Download Private Key
							      </md-tooltip>
							</md-button>
							</div>
						</div>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>				      
				</md-list>
			</md-content>
		</div>
		<section id="FAQ_section" class="FAQ_section" flex>
			<div class="transparencyhub_container">
				<div class="question_answer_area">
					<md-toolbar class="md-theme-light">
						<h2 class="md-toolbar-tools">
							<span>FAQS</span>
						</h2>
					</md-toolbar>
					<div class="question_answer">
						<div class="question">
							<div class="q_block">
								<p>Q</p>
							</div>
							<div class="q_details">
								<p>What is a Certificate Request?</p>
							</div>
						</div>
						<div class="answer">
							<div class="a_block">
								<p>A</p>
							</div>
							<div class="a_details">
								<p>For a Certificate Authority to issue you a certificate you must provide them with the information that you believe belongs in that certificate request. The most important piece of information being the public key that your server will use to identify itself. The Certificate Request (sometimes called a CSR or PKCS10) is how you provide that public key and prove you have the corresponding private key. To help identify which server a certificate request is for it can also include additional information such as the fully qualified host name of the server or the name of the legal entity who possesses the associated private key.</p>
						</div>
					</div>
				</div>
				<div class="question_answer">
					<div class="question">
						<div class="q_block">
							<p>Q</p>
						</div>
						<div class="q_details">
							<p>How do I generate a Certificate Request?</p>
						</div>
					</div>
					<div class="answer">
						<div class="a_block">
							<p>A</p>
						</div>
						<div class="a_details">
							<p>Each application stores its certificates and private keys in different ways, meaning that you often need to use a different tool to generate the certificate request for each application. Although it is not normally required, the easiest way to do this is to generate the certificate request on the server you will use the certificate on. This page helps you to generate the appropriate command line for each of your applications. Simply fill out the required fields above and it will provide you with example command lines for common applications. If your application is not listed, check the help documentation from your Certificate Authority or the application documentation for guidance on how to generate the certificate signing request.</p>
						</div>
					</div>
				</div>
				<div class="question_answer">
					<div class="question">
						<div class="q_block">
							<p>Q</p>
						</div>
						<div class="q_details">
							<p>Should I use a ECC or RSA certificate?</p>
						</div>
					</div>
					<div class="answer">
						<div class="a_block">
							<p>A</p>
						</div>
						<div class="a_details">
							<p><a href="https://blog.cloudflare.com/a-relatively-easy-to-understand-primer-on-elliptic-curve-cryptography/">ECC works on different principles</a> than RSA. This different approach results in a dramatic performance improvement. With ECDSA you get as much as a 23x performance improvement for signatures. This can help your site handle more concurrent SSL negotiations but it comes at a cost. Only modern browsers support ECC cipher suites, as a result many choose to stay with RSA or to deploy both. It is important to note that not all certificate authorities (CAs) support issuing ECC certificates, as such, this decision may impact which CA you choose.</p>
						</div>
					</div>
				</div>
				<div class="question_answer">
					<div class="question">
						<div class="q_block">
							<p>Q</p>
						</div>
						<div class="q_details">
							<p>How do I know the key length I should use?</p>
						</div>
					</div>
					<div class="answer">
						<div class="a_block">
							<p>A</p>
						</div>
						<div class="a_details">
							<p>Generally speaking the larger the private key the stronger it is. Unfortunately the larger it is the slower the cryptographic operations with that key will be. Though techniques for cryptanalysis are always improving, at this time, the <a href="http://keylength.com">general consensus</a> is that RSA 2048-bit and ECC 256-bit keys are sufficiently strong for most use cases.</p>
						</div>
					</div>
				</div>
				<div class="question_answer">
					<div class="question">
						<div class="q_block">
							<p>Q</p>
						</div>
						<div class="q_details">
							<p>How do I keep my private key secure?</p>
						</div>
					</div>
					<div class="answer">
						<div class="a_block">
							<p>A</p>
						</div>
						<div class="a_details">
							<p>There are a few things you need to keep in mind when thinking about the security of your private key:</p>
							<ul>
								<li>Are you using the latest version of the certificate request tool? There have been vulnerabilities in the way private keys are generated.  Making sure you are using the most recent version helps ensure you are not using a known vulnerable key generation process.</li>
								<li>Does the environment you are generating the certificate request in have a good source of random numbers? The security of the key generation process is very dependent on the quality of the random numbers available to the application generating the key.  For example, if the certificate request is being generated in a embedded system it may produce predictable random numbers. If you are not confident about the quality of the random numbers your device uses, generate your certificate request on a different machine</li>
								<li>Who has access to the private key? Anyone who gets a copy of your private key will be able to impersonate your server.  You want to ensure you password protect and/or use ACLs to reduce who can have access to the private key.</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="question_answer">
					<div class="question">
						<div class="q_block">
							<p>Q</p>
						</div>
						<div class="q_details">
							<p>What should I use as my SSL configuration?</p>
						</div>
					</div>
					<div class="answer">
						<div class="a_block">
							<p>A</p>
						</div>
						<div class="a_details">
							<p>Take a look at the <a href="https://mozilla.github.io/server-side-tls/ssl-config-generator/">Mozilla SSL Configuration Generator</a> and <a href="https://cipherli.st">Cipherli.st</a> for configuration recomendations. They provide reasonable choices for secure SSL configurations.</p>
							<br/>
							<p>When you are done be sure to check your score at <a href="https://www.ssllabs.com/ssltest/">SSL Labs</a>. When checking your SSL score pay close attention to client compatibility and adjust settings accordingly.</p>
						</div>
					</div>
				</div>
				<div class="question_answer">
					<div class="question">
						<div class="q_block">
							<p>Q</p>
						</div>
						<div class="q_details">
							<p>Are there other SSL related security settings I should pay attention to?</p>
						</div>
					</div>
					<div class="answer">
						<div class="a_block">
							<p>A</p>
						</div>
						<div class="a_details">
							<p>Absolutely, there are a number of HTTP headers a server can send that can help the browser enforce appropriate security controls. Check out the <a href="https://securityheaders.io/">Security Headers</a websitte for recomendations.</p>
							<br/><br/>
							<p>We recomend you take a look at <a href="https://report-uri.io/">Report URI</a>, it can help you keep an eye on your deployment of Content Security Policy (CSP) and Public Key Pinning (HPKP).</p>
						</div>
					</div>
				</div>
				<div class="question_answer">
					<div class="question">
						<div class="q_block">
							<p>Q</p>
						</div>
						<div class="q_details">
							<p>Where should I get my SSL certificate?</p>
						</div>
					</div>
					<div class="answer">
						<div class="a_block">
							<p>A</p>
						</div>
						<div class="a_details">
							<p>There are several organizations that offer free Domain Validated (DV) SSL certificates. One that we are involved in is <a href="https://letsencrypt.org/">Let’s Encrypt</a>.</p>
							<br/>
							<br/>
							<p>For Extended Validation (EV) certificates, the best experience in our opinion is offered by <a href="https://certsimple.com">CertSimple</a>. </p>
							<br/>
							<br/>
							<p>Additionally there are a number of responsible commercial certificate authorities such as <a href="https://www.globalsign.com/">GlobalSign</a> and <a href="https://www.digicert.com/">DigiCert</a> that offer a complete product portfolio of certificate related offerings.</p>
						</div>
					</div>
				</div>
				<div class="question_answer">
					<div class="question">
						<div class="q_block">
							<p>Q</p>
						</div>
						<div class="q_details">
							<p>How is the "ANY" CSR and key pair generated?</p>
						</div>
					</div>
					<div class="answer">
						<div class="a_block">
							<p>A</p>
						</div>
						<div class="a_details">
							<p>Modern browsers support a set of APIs commonly referred to as <a href="http://caniuse.com/#feat=cryptography">WebCrypto</a>. These APIs allows us to generate the keys for your certificate within your browser. We then use a library we produce called <a href="https://pkijs.org">PKIjs</a> to generate your certificate request. We never see your key and we generate a new key pair for every certificate request you make. If for some reason your browser doesn’t support WebCrypto or an algorithm we need to generate the request we simply omit this option from the results.</p>
						</div>
					</div>
				</div>
				<div class="question_answer">
					<div class="question">
						<div class="q_block">
							<p>Q</p>
						</div>
						<div class="q_details">
							<p>Who has access to the private key in the "ANY" section?</p>
						</div>
					</div>
					<div class="answer">
						<div class="a_block">
							<p>A</p>
						</div>
						<div class="a_details">
							<p>This site is hosted on GitHub and we use CloudFlare as a CDN. All of the resources (scripts, fonts, layout) used in the site are served using gh-pages. Because these organizations are involved they could theoretically modify the page to take a copy of the private key generated here. You can also clone this repository with this command: </p>
							<br />
							<br />
							<p>	git clone https://github.com/PeculiarVentures/csrhelp.git</p>
							<br />
							<br />
							<p>Which will let you run this site locally and not be exposed to this risk.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<a href="https://github.com/PeculiarVentures/csrhelp" target="_blank">
		<img style="position: absolute; top: 0; right: 0; border: 0;zoom:1; z-index:2" src="assets/images/forkme_right_gray_6d6d6d.png">
	</a>
    <script src='assets/js/promiz.min.js'></script>
    <script src='assets/js/webcrypto-shim.min.js'></script>
    <!-- Angular Material Dependencies -->
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-animate.min.js"></script>
    <script src="assets/js/angular-aria.min.js"></script>
    <script src="assets/js/angular-messages.min.js"></script>
    <script src="assets/js/angular-zeroclipboard.js"></script>
    <script src="assets/js/ZeroClipboard.js"></script>
    <script src="assets/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="assets/js/angular-material.min.js"></script>
    
    <script>    	
    	$(document).ready(function() {
    		setTimeout(function() {
	    		$('form:first *:input[type!=hidden]:first').focus();
	    	}, 400);  
	});
    </script>
    
    <script src="assets/js/pkijs/common.js"></script>
    <script src="assets/js/pkijs/asn1.js"></script>
    <script src="assets/js/pkijs/x509_schema.js" type="text/javascript"></script>
    <script src="assets/js/pkijs/x509_simpl.js"></script>
    
    <script src="./src/csrhelps/CsrhelpApp.js"></script>
    <script src="./src/csrhelps/Csrhelps.js"></script>
    <script src="./src/csrhelps/CsrhelpController.js"></script>
    <script src="./src/csrhelps/CsrhelpService.js"></script>
    <script src="./src/csrhelps/openCorporatesService.js"></script>
    <script src="./src/csrhelps/freeGeoIPService.js"></script>

  </body>
</html>
